In [1]:
import pandas as pd
from dateutil.parser import parse as dateParse

In [2]:
df = pd.read_csv('./Data/listings-2019-08-06.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,46,2019-07-14,0.39,2,288
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
2,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,274,2019-07-26,4.64,1,212
3,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
4,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.60,1,127

In [3]:
df = df.drop(['id', 'name', 'host_id', 'host_name'], axis=1)
df.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,46,2019-07-14,0.39,2,288
1,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
2,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,274,2019-07-26,4.64,1,212
3,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
4,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.60,1,127

In [4]:
df.insert(0, 'date', dateParse('2019-08-06'), True)
df.head()

,date,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2019-08-06,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,46,2019-07-14,0.39,2,288
1,2019-08-06,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
2,2019-08-06,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,274,2019-07-26,4.64,1,212
3,2019-08-06,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
4,2019-08-06,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.60,1,127

In [5]:
def parseThisBoi(x):
    if(pd.isna(x)):
        return None
    return dateParse(x)
df['last_review'] = df['last_review'].apply(parseThisBoi)
df['last_review'] = df['date'] - df['last_review']

In [6]:
df = df.rename(columns={"last_review": "days_since_last_review"})
df.head()

,date,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,days_since_last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2019-08-06,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,46,23 days,0.39,2,288
1,2019-08-06,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
2,2019-08-06,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,274,11 days,4.64,1,212
3,2019-08-06,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,260 days,0.10,1,0
4,2019-08-06,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,75,16 days,0.60,1,127

In [7]:
def refineDataFrame(df, date):
    df = df.drop(['id', 'name', 'host_id', 'host_name'], axis=1)
    df.insert(0, 'date', dateParse(date), True)  
    df['last_review'] = df['last_review'].apply(parseThisBoi)
    df['last_review'] = df['date'] - df['last_review']
    return df.rename(columns={"last_review": "days_since_last_review"})

In [8]:
df2 = pd.read_csv('./Data/listings-2018-08-06.csv')
df2 = refineDataFrame(df2, "2018-08-06")
df3 = pd.read_csv('./Data/listings-2017-08-02.csv')
df3 = refineDataFrame(df3, "2017-08-02")

In [13]:
data = pd.concat([df,df2,df3],ignore_index=True)

In [14]:
data

,date,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,days_since_last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2019-08-06,Manhattan,Midtown,40.753620,-73.983770,Entire home/apt,225,1,46,23 days,0.39,2,288
1,2019-08-06,Manhattan,Harlem,40.809020,-73.941900,Private room,150,3,0,NaT,NaN,1,365
2,2019-08-06,Brooklyn,Clinton Hill,40.685140,-73.959760,Entire home/apt,89,1,274,11 days,4.64,1,212
3,2019-08-06,Manhattan,East Harlem,40.798510,-73.943990,Entire home/apt,80,10,9,260 days,0.10,1,0
4,2019-08-06,Manhattan,Murray Hill,40.747670,-73.975000,Entire home/apt,200,3,75,16 days,0.60,1,127
5,2019-08-06,Brooklyn,Bedford-Stuyvesant,40.686880,-73.955960,Private room,60,45,49,670 days,0.39,1,0
6,2019-08-06,Manhattan,Hell's Kitchen,40.764890,-73.984930,Private room,79,2,434,24 days,3.48,1,239
7,2019-08-06,Manhattan,Upper West Side,40.801780,-73.967230,Private room,79,2,118,746 days,0.98,1,0
8,2019-08-06,Manhattan,East Village,40.727640,-73.979490,Entire home/apt,116,30,94,1147 days,0.74,1,322
9,2019-08-06,Manhattan,Chinatown,40.713440,-73.990370,Entire home/apt,150,1,161,8 days,1.33,4,0
10,2019-08-06,Manhattan,Upper West Side,40.803160,-73.965450,Entire home/apt,135,5,53,45 days,0.42,1,1
11,2019-08-06,Manhattan,Hell's Kitchen,40.760760,-73.988670,Private room,85,2,190,16 days,1.50,1,23
12,2019-08-06,Brooklyn,South Slope,40.668290,-73.987790,Private room,89,4,167,43 days,1.33,3,324
13,2019-08-06,Manhattan,West Village,40.735300,-74.005250,Entire home/apt,120,90,27,279 days,0.22,1,4
14,2019-08-06,Brooklyn,Williamsburg,40.708370,-73.953520,Entire home/apt,140,2,154,4 days,1.24,1,23
15,2019-08-06,Brooklyn,Fort Greene,40.691690,-73.971850,Entire home/apt,215,2,200,7 days,1.72,1,305
16,2019-08-06,Manhattan,Chelsea,40.741920,-73.995010,Private room,140,1,268,12 days,2.17,1,5
17,2019-08-06,Brooklyn,Crown Heights,40.675920,-73.946940,Entire home/apt,99,3,59,8 days,4.59,1,22
18,2019-08-06,Manhattan,East Harlem,40.796850,-73.948720,Entire home/apt,190,7,0,NaT,NaN,2,275
19,2019-08-06,Brooklyn,Williamsburg,40.718420,-73.957180,Entire home/apt,299,3,9,2778 days,0.07,1,0
20,2019-08-06,Brooklyn,Park Slope,40.680690,-73.977060,Private room,115,2,131,23 days,1.09,4,117
21,2019-08-06,Brooklyn,Park Slope,40.680010,-73.978650,Private room,110,2,73,9 days,0.63,4,290
22,2019-08-06,Brooklyn,Bedford-Stuyvesant,40.683710,-73.940280,Entire home/apt,120,2,92,16 days,0.76,2,251
23,2019-08-06,Brooklyn,Windsor Terrace,40.655990,-73.975190,Private room,60,1,20,8 days,1.35,2,89
24,2019-08-06,Manhattan,Inwood,40.867540,-73.926390,Private room,80,4,0,NaT,NaN,1,0
25,2019-08-06,Manhattan,Hell's Kitchen,40.767150,-73.985330,Entire home/apt,150,10,58,723 days,0.48,1,104
26,2019-08-06,Manhattan,East Village,40.729200,-73.985420,Entire home/apt,180,14,29,109 days,0.24,1,42
27,2019-08-06,Manhattan,Harlem,40.822450,-73.951040,Private room,50,3,244,19 days,2.04,3,341
28,2019-08-06,Manhattan,Harlem,40.813050,-73.954660,Private room,52,2,92,17 days,1.46,1,252
29,2019-08-06,Brooklyn,Greenpoint,40.722190,-73.937620,Private room,55,4,201,15 days,1.67,3,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144582,2017-08-02,Manhattan,Hell's Kitchen,40.766156,-73.989779,Private room,150,2,0,NaT,NaN,2,11
144583,2017-08-02,Manhattan,Upper East Side,40.773688,-73.950645,Entire home/apt,114,3,0,NaT,NaN,1,2
144584,2017-08-02,Brooklyn,Clinton Hill,40.688281,-73.962153,Entire home/apt,450,3,0,NaT,NaN,1,61
144585,2017-08-02,Manhattan,West Village,40.737690,-74.002426,Entire home/apt,150,2,0,NaT,NaN,1,0
144586,2017-08-02,Manhattan,Chinatown,40.713880,-73.995048,Private room,80,1,0,NaT,NaN,1,213
144587,2017-08-02,Manhattan,Upper East Side,40.764996,-73.958104,Private room,80,1,0,NaT,NaN,1,15
144588,2017-08-02,Queens,Ditmars Steinway,40.780829,-73.911446,Private room,125,2,0,NaT,NaN,1,2
144589,2017-08-02,Manhattan,Harlem,40.803613,-73.955706,Entire home/apt,200,4,0,NaT,NaN,1,143
144590,2017-08-02,Manhattan,Gramercy,40.735011,-73.987983,Entire home/apt,278,10,0,NaT,NaN,1,17
144591,2017-08-02,Brooklyn,Gravesend,40.602395,-73.991601,Private room,25,7,0,NaT,NaN,2,16
144592,2017-08-02,Manhattan,Midtown,40.751546,-73.973556,Entire home/apt,269,2,0,NaT,NaN,1,347
144593,2017-08-02,Manhattan,Financial District,40.704555,-74.008065,Private room,100,7,0,NaT,NaN,1,83
144594,2017-08-02,Manhattan,Financial District,40.708013,-74.007121,Shared room,160,1,0,NaT,NaN,1,85
144595,2017-08-02,Brooklyn,Bushwick,40.700865,-73.940094,Private room,34,6,0,NaT,NaN,1,0
144596,2017-08-02,Queens,Ditmars Steinway,40.780884,-73.908194,Private room,67,1,0,NaT,NaN,2,363
144597,2017-08-02,Queens,Sunnyside,40.736763,-73.927560,Private room,65,1,0,NaT,NaN,1,173
144598,2017-08-02,Queens,Fresh Meadows,40.738502,-73.792409,Private room,60,1,0,NaT,NaN,5,331
144599,2017-08-02,Brooklyn,Bedford-Stuyvesant,40.680041,-73.939277,Entire home/apt,215,2,0,NaT,NaN,1,300
144600,2017-08-02,Manhattan,Hell's Kitchen,40.766819,-73.987435,Entire home/apt,408,2,0,NaT,NaN,1,363
144601,2017-08-02,Brooklyn,Bedford-Stuyvesant,40.696077,-73.934931,Private room,55,5,0,NaT,NaN,2,108
144602,2017-08-02,Brooklyn,Bedford-Stuyvesant,40.681150,-73.909987,Private room,100,4,0,NaT,NaN,1,88
144603,2017-08-02,Manhattan,East Harlem,40.788089,-73.943187,Entire home/apt,200,7,0,NaT,NaN,1,29
144604,2017-08-02,Queens,Astoria,40.764215,-73.920280,Private room,96,1,0,NaT,NaN,1,135
144605,2017-08-02,Brooklyn,Williamsburg,40.712602,-73.952472,Entire home/apt,100,1,0,NaT,NaN,1,4
144606,2017-08-02,Brooklyn,Williamsburg,40.702636,-73.935488,Private room,33,7,0,NaT,NaN,1,22
144607,2017-08-02,Manhattan,Upper West Side,40.776925,-73.981115,Entire home/apt,206,5,0,NaT,NaN,1,159
144608,2017-08-02,Queens,Astoria,40.756452,-73.914583,Private room,50,5,0,NaT,NaN,1,9
144609,2017-08-02,Brooklyn,Williamsburg,40.706238,-73.935637,Private room,65,1,0,NaT,NaN,2,363
144610,2017-08-02,Brooklyn,Williamsburg,40.705837,-73.937529,Private room,65,1,0,NaT,NaN,2,363
144611,2017-08-02,Queens,Elmhurst,40.745332,-73.881560,Private room,80,1,0,NaT,NaN,3,5